body {
    color: white;
    background-image: url(img/robotStation-2500.jpg);
    /* height: 400px; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-size: cover; */
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #5BBE42;

}

.center {
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

h1 {
    color: green;
}

footer img {
    width: 40px;
    height: 40px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
}

.container {
    padding: 0px 150px;
}

nav a:hover {
    color: green
}

.git-image {
    border-radius: 50%;
}

.linked-image {
    border-radius: 50%;
}

.projects {
    cursor: pointer;
    font-weight: 1000;
    font-size: large;
}

div {
    display: inline-block;
}

.project-body {
    background-image: url(img/woodyBackGround-2000.jpg);
    /* background-size: cover; */
}

h2 {
    color: rgb(152, 221, 106);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 90px;
}

.sub-container {
    padding-left: 40px;
    text-align: center;
}

.project-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    /* padding-left: 80px; */
}

.project-footer {
    margin-top: 100px;
}

.about-me {
    padding-right: 400px;
}

h3 {
    color: #4e7844;
}

.English {
    color: rgb(34, 176, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.portuguese {
    color: #b8ca12;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}